.env
node_modules
.vite
dist
.DS_Store
.env.local
.env.production
.env.development
.env.test
.env.example
.env.local.example
.env.production.example
.env.development.example
.env.test.example
.env.local.example
.env.production.example
.env.development.example
.env.test.example
